body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.Home {
  margin-top: 30px;
  text-align: center;
}

.Home h1 {
  margin-bottom: 20px;
}

.Home form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.Home input {
  padding: 8px;
  font-size: 16px;
}

.Home button {
  margin-left: 10px;
  padding: 8px 16px;
  font-size: 16px;
}

